body {
    font-family: monospace;
    background:#0b0b0b;
    color:#0ff;
    text-align:center;
    margin:0;
    padding:20px;
}
input, button {
    margin:10px;
    padding:5px 10px;
    font-size:1em;
}
ul {
    list-style:none;
    padding:0;
}
